.contact {
  position: relative;
  background: linear-gradient(to right, #f3e5ce, #f4deb7, #f3e4ce);
  font-family: sans-serif;
  &__header {
    margin-bottom: 3rem;
  }
}
.form {
  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.2vw;
    font-weight: 500;
    input {
      font-size: inherit;
      font-weight: inherit;
      border: none;
      background: transparent;
      border-bottom: 1px solid #000;
      color: #444;
      &:focus {
        outline: none;
      }
    }
  }
}
